<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-footer">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
<body>
<div th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">

                <div class="col-md-4 amet-sed">
                    <h4>VỀ CHÚNG TÔI</h4>
                    <ul class="nav-bottom">
                        <li><a th:href="@{#}">Quy chế hoạt động</a></li>
                        <li><a th:href="@{#}">Chính sách bảo mật</a></li>
                        <li><a th:href="@{#}">Giải quyết khiếu nại</a></li>
                        <li><a th:href="@{#}">Điều khoản & Cam kết</a></li>
                        <li><a th:href="@{#}">Góp ý</a></li>
                    </ul>
                </div>
                <div class="col-md-4 amet-sed ">
                    <h4>LIÊN HỆ CHÚNG TÔI</h4>

                    <p>Hotline 1: 0911 067 111</p>
                    <p>Hotline 2: 086 9988 279</p>
                    <p>Email: info@tro247.com</p>
                    <ul class="social">
                        <li><a th:href="@{#}"><i> </i></a></li>
                        <li><a th:href="@{#}"><i class="twitter"> </i></a></li>
                        <li><a th:href="@{#}"><i class="rss"> </i></a></li>
                        <li><a th:href="@{#}"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-4 amet-sed">
                    <h4>News</h4>
                    <p>Đăng kí nhận thông tin bằng mail</p>
                    <form>
                        <input type="text" value="" onfocus="this.value='';"
                               onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="Sign up">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="footer-class">
            <p>© 2015 New store All Rights Reserved | Design by <a th:href="@{http://w3layouts.com/}" target="_blank">W3layouts</a>
            </p>
        </div>
    </div>
</body>
</html>